@import '~bootstrap/scss/bootstrap';
body{
    background:url("./images/Frame\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin size($size){
    font-size: $size;
}

nav,nav ul{
    display: flex;
    flex-direction: row;

}

nav{
    background-color: rgba(129, 128, 128, 0.2);
    backdrop-filter: blur(3px);
    justify-content:space-between;
    align-content: center;
    align-items: center;
    padding:0 5%;
    box-shadow: 0px 2px 2px rgb(172, 170, 170)  ;

    img{
        width: 25%;
        height: 10%;
        align-self: center;
    }

    ul{
   gap: 20%;
    padding:3% 10% 0 10%;
    width: 50%;
    margin-left: 25%;
    margin-top: auto;
    }
}
a{
    text-decoration: none;
    color: white;
}
li{
    font: {
        size: 1.5vw;
        weight: bold;
    }
    list-style: none;
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    padding: 5px;

}
.container p{
    color:#033042;
    margin:2% 4%;
    font-family:sans-serif;
}
.innercont{
    @include center;
   padding: 5%;

    width: 100%;
   flex-direction: column;
}
#p1{
    font-size: 2vmax;
}
#p2{
    font: {
        weight: bold;
        size: 5vmax;
    }
}
#p3{
    font-size: 2.5vmax;
}
.container button{
    border: none;
    border-radius: 25px;
    background-color: #053B50;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    font-size: 1.5vw;
}
.socials{
    @include center;
   
    padding: 10px;
    gap: 8%;
    width: 100%;
    img{
        width: 15%;
       
    }
    #links{
        width: 60%;
        padding:0px 20px;
        a{
            margin: 10px;
        }
    }
    #resume{
        width: 40%;
    }
}
.about{
    @include center;
    flex-direction: row-reverse;
    background: {
    image: url('../src/images/Frame\ 2.png');
    repeat: no-repeat;
    size: cover;
    position: center;
    
}
    padding: 10% 0px;
    #me{
    margin:0px 0px 0px 10% ;
    width: 60%;
    
    div h1{
        margin: 0px 0px 3% 0px;
        font-size: 4vmax;

    }
    p{
        font-size: 1.2vmax;
    }
    }

    img{
        width: 70%;
        margin: 0px 10%;
    }
    #me2{
        width: 35%;
        padding:0px  5%;
    }
}
.skillset{
    background-color: #24292F;
    padding: 1% 4% 2% 4%;
    h1{
        text-align: center;
        color: white;
        font-weight: bolder;
        margin:0% 0% 3% 0%;
        font-size: 3vmax
    }div{
        width: 100%;
        
    @include center;
    .grid1,.grid2{
        div{
            margin: 0% 5%;
            @include center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            img{
                width: 40%;
                
            }
            strong{
                color: white;
                text-align: center;
            }

        }}
    }
    
}
.projects{
    background-color: #FDFDFD;
    text-align: center;
    margin-bottom: 100px;
    padding: 3% 10%;
    #headline{
        font-size: 3vmax;
    }
    #pro1,#pro2,#pro3{
        margin-top: 5%;
        @include center;
        .panel{
            text-align: left;
            
            padding: 2%;
            width: 50%;

            img{
                width: 100%;
            }
            strong{
                text-decoration: underline;
                color: #4b359c;
            }
            div{
                margin-left: 3%;
            } 
            
        }
    }
    #pro2{
        flex-direction: row-reverse;
    }
}

@media (max-width:1024px) and (min-width:901px){
    nav img{
        width: 30%;
        height: 15%;
        align-self: center;
    }
    .innercont{
        width: 100%;
        padding: 4% 5%;
    }
    .socials{
        margin: 2% 0px;
        img{
            width: 20%
        }
        button{
            @include size(3vw)
        }
    }
    #p1{
        @include size(3vw);
    }
    #p2{
        @include size(6vw);
    }
    #p3{
        @include size(4vw);
    }
    .projects{
        padding: 3 7%;
    }
}
@media (max-width:900px) and (min-width:764px){
    nav img{
        width: 30%;
        height: 15%;
        align-self: center;
    }
    .innercont{
        width: 100%;
        padding: 2% 5%;
    }
    .socials{
        img{
            width: 20%
        }
        button{
            @include size(3vw)
        }
    }
    #p1{
        @include size(4vw);
    }
    #p2{
        @include size(6vmax);
    }
    #p3{
        @include size(5max)
    }
}
@media (max-width:763px) and (min-width:511px){
    nav img{
        width: 30%;
        height: 15%;
        align-self: center;
    }
    .innercont{
        width: 100%;
        padding: 4% 8%;
    }
    .socials{
        flex-direction: row;
        
        img{
            width: 18%;
            margin: 6% 0%;
        }

        #resume{
            margin-left: 5%;
            button{
                font-size: 3vw;
               
            }
            
        }
    }
    #me{
        p{
            font-size: 14px;
        }
    }
    #p1{
        @include size(4vw);
    }
    #p2{
        @include size(6vw);
    }
    #p3{
        @include size(4vw)
    }
    .skillset{
        div{
            flex-direction: column;
            .grid1,.grid2{
                @include center;
                flex-direction: row;
                div{
                img{
                    width: 50%;
                }}
            }
            .grid1{
                margin-bottom: 5%;
            }
        }
    }
}
@media (max-width:510px){
    nav img{
        width: 30%;
        height: 15%;
        align-self: center;
    }
    .innercont{
        width: 100%;
        padding: 5% 6%;
    }
    .socials{
        flex-direction: column;
        
        #links{
            width: 60%;
        
        }
        img{
            width: 20%;
            margin: 6% 0%;
        }

        #resume{
           
            margin-right: -8%;
            button{
                font-size: 3vw;
                padding: 10px 18px;
            }}
            
    }
    #p1{
        @include size(6vw);
    }
    #p2{
        @include size(10vw);
    }
    #p3{
        @include size(7vw)
    }
    .about{
        flex-direction: column;
        #me2{
            display: contents;
            width: 100%;
            margin: 10%;
            img{
                align-self: center;
                width: 40%;
            }
        }
        #me{
            width: 100%;
            padding: 4%;
            margin: 5% 0 0 10% ;
            div{
                width: 90%;
                
            h1{
                text-align: center;
                margin-bottom: 7%;
            }
            }
        }
    }
    
}
@media (max-width:510px) and (min-width:301px){
    .skillset{
        h1{
            margin-bottom: 8%;
        }
        div{
            flex-direction: column;
            .grid1,.grid2{

                @include center;
                flex-direction: row;
                div{
                    margin-bottom: 5%;
                img{
                    width: 40%;
                }}
            }
            .grid1{
                margin-bottom: 5%;
            }
        }
    }
}
@media (max-width:300px){
    .skillset{
        h1{
            margin-bottom: 8%;
        }
        div{
            flex-direction: column;
            .grid1,.grid2{
                div{
                    margin-bottom: 5%;
                img{
                    width: 25%;
                }}
            }
            .grid1{
                margin-bottom: 5%;
            }
        }
    }

}
@media screen and (max-width: 780px){
    .projects{
        padding: 3% 10%;
        #pro1,#pro2,#pro3{
            flex-direction: column;
            margin-bottom: 15%;
            .panel{
                width: 100%;
                p{
                    @include size(1.2vmax);
                }
            }
        }
    }
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
      margin: 2%;
    }
  
    .bar {
          background-color: #ffffff;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    
  
    nav ul{
        display: none;
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 0%;
      left: 0%;
      text-align: start;
      width: 100%;
      
      background-color: #FAFBFC;
      padding: 10px;
      margin-left: 0%;
      a{
        color: #E74646;
      }
    }
  
    nav ul.active{
      display: flex;
      left: 0;
      top: 105%;
      transition: 0.7s ease-in-out;
    
    }
  
    nav ul li {
      margin: 3% 0;
      
    }
  }